{% load static %}
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand navbar-logo" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span>tube
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% with request.resolver_match.view_name as view_name %}  
    <ul class="nav nav-pills ms-auto">
        {% include 'includes/nav_link.html' with path="about:author" text="Об авторе" %}
        {% include 'includes/nav_link.html' with path="about:tech" text="Технологии" %}
        {% include 'includes/nav_link.html' with path="posts:search" text="Поиск" %}
      {% if user.is_authenticated %}
        {% include 'includes/nav_link.html' with path="posts:post_create" text="Новая запись" %}
        {% include 'includes/nav_link.html' with light="link-light" path="users:password_change_form" text="Изменить пароль" %}
        {% include 'includes/nav_link.html' with light="link-light" path="users:logout" text="Выйти" %}
        <li>
          Пользователь: {{ user.username }}
        </li>
      {% else %}
        {% include 'includes/nav_link.html' with light="link-light" path="users:login" text="Войти" %}
        {% include 'includes/nav_link.html' with light="link-light" path="users:signup" text="Регистрация" %}
      {% endif %}
    </ul>
    {% endwith %}
  </div> 
  </div>
</nav>      