{% extends 'base.html' %}

{% block title %}
  Поиск по сайту  
{% endblock %}  

{% block content %}
    <h1>Поиск по записям</h1>

    <div class="card" style="width: 50%">
      <div class="card-body">

        <form class="input-group mb-3" action="{% url 'posts:search' %}">
          <input name="q" class="form-control" type="search" 
            placeholder="Поиск" {% if keyword %}value="{{ keyword }}"{% endif %}>
          <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Найти</button>
        </div>
        </form>
        </div>
      </div>
      
    <div class="container">
    <br>
    {% for post in page_obj %}
      {% include 'posts/includes/s_article.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% if keyword and not page_obj %}
      <p>Ничего не найдено</p>
    {% endif %}
    <div class="d-flex justify-content-center">
     {% include 'posts/includes/s_paginator.html' %}
    </div>
    </div>

{% endblock %}
